[submodule "svg"]
	path = svg
	url = https://gitlab.com/bentinata/svg
[submodule "dotfiles"]
	path = dotfiles
	url = https://gitlab.com/bentinata/dotfiles
[submodule "post"]
	path = _post
	url = https://gitlab.com/bentinata/bentinata.gitlab.io
	branch = post
