image: jekyll/minimal:3

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  JEKYLL_ENV: production

pages:
  stage: deploy
  script:
    - ! 'sed -i "s/permalink: \/.*/&\//" _config.yml'
    - bundle install
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      - public
  only:
    - master
