source: .
destination: .public
layouts_dir: .layout
data_dir: .data
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
collections:
  post:
    output: true
    permalink: /:collection/:name
    layout: "post"
permalink: pretty
exclude:
  - Gemfile
  - Gemfile.lock
  - package.json
  - package-lock.json
  - node_modules
  - functions
  - database.rules.json
  - firebase.json
  - dotfiles/.vim
  - script
kramdown:
  smart_quotes: apos,apos,quot,quot
plugins:
  - jekyll-sitemap
host: 0.0.0.0
port: 8000
